    <div class="container">
    <h2>About</h2>
    <p>
        Your resume is polished and up to date, but it is not working as well as you would like it to. How do you make your job application stand out in a pool of dozens in an increasingly automated application process?
    </p>
    <p>
        Many companies utilize applicant tracking software to sort through the large volumes of resumes to identify potential candiates. By searching for specific keywords, the tracker mines data from your resume and adds your information to a database for recruiters to review.
    </p>
    <p>
        Every company is unique and your resume should reflect that. Fine tuning your resume for every application is a must. Use our tool to identify keywords in a job description and tailor your resume to stand out in the crowd as the perfect candidate.
    </p>
    </div>

    <div class="container">
    <h2>The Developers</h2>
        <div class="row">
            <div class="col-md-6">
            <h2>Boet Waldbjorn</h2>
            <img class="img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjhAAAAJDVmNTg1MWNkLTAwMTItNGQ1Ni1hZThiLTBhMjFmODBkYWEzYg.jpg" alt="Boet">
            <p>
                I am a front-leaning, full-stack developer with a strong interest in code as design and IoT. A strong background in printmaking and theater design has given me an eye for how things work together and a mind for how they should work together.
            </p>
            <a href="https://www.linkedin.com/in/boetw"><i class="fa fa-adjust fa-linkedin-square" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-adjust fa-github" aria-hidden="true"></i></a>
            </div>

            <div class="col-md-6">
            <h2>Kendra Dalley</h2>
            <img class="img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjXAAAAJGU0MWVmYWJiLWFjNTgtNGMwOC04ZGVmLTk3ZmY0ZmFkN2NjZQ.jpg" alt="Kendra">
            <p>
                A natural fixer and ‘doer’ - I’m drawn to innovative creative industries. As a dual-discipline front-end developer/digital marketer I re-invigorate, elevate, and produce solutions that are measurable.
            </p>
            <a href="https://www.linkedin.com/in/kendradalley"><i class="fa fa-adjust fa-linkedin-square" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-adjust fa-github" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            <h2>Zach Mason</h2>
            <img class="img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAd4AAAAJGEzNjIzMDg2LTU1NTAtNGIwYS1hZDdmLWQ0YjA4Y2VlOThhNw.jpg" alt="Zach">
            <p>
                I'm a full-stack, front-end leaning web developer who recently pivoted from teaching high school history. I am project-oriented and specialize in innovation, communication, and bringing unique perspectives to the table. When I’m not coding, I’m producing music, traveling, and spending time with my dog and wife.
            </p>
            <a href="https://www.linkedin.com/in/zach-mason"><i class="fa fa-adjust fa-linkedin-square" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-adjust fa-github" aria-hidden="true"></i></a>
            </div>

            <div class="col-md-6">
            <h2>Zoe McDaniel</h2>
            <img class="img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAd_AAAAJDIxMDlkZTEyLTNhYjYtNDJmMS04MjEzLTkxYjNmOGE5MWQyNA.jpg" alt="Zoe">
            <p>
                I'm a full-stack, front-leaning web developer with a passion for building thoughtful interactions between people and everyday objects. With a wealth of experience in diverse fields ranging from code to customer satisfaction to carpentry, I am a creative problem solver who continuously strives to improve my skills and knowledge.
            </p>
            <a href="https://www.linkedin.com/in/zoe-mcdaniel-7933bb66"><i class="fa fa-adjust fa-linkedin-square" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-adjust fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>