    <p>
        Your resume is polished and up to date, but it is not working as well as you would like it to. How do you make your job application stand out in a pool of dozens in an increasingly automated application process?
    </p>
    <p>
        Many companies utilize applicant tracking software to sort through the large volumes of resumes to identify potential candiates. By searching for specific keywords, the tracker mines data from your resume and adds your information to a database for recruiters to review.
    </p>
    <p>
        Every company is unique and your resume should reflect that. Fine tuning your resume for every application is a must. Use our tool to identify keywords in a job description and tailor your resume to stand out in the crowd as the perfect candidate.
    </p>