    <div class="container">
    <h2>About</h2>
    <p>
        Your resume is polished and up to date, but it is not working as well as you would like it to. How do you make your job application stand out in a pool of dozens in an increasingly automated application process?
    </p>
    <p>
        Many companies utilize applicant tracking software to sort through the large volumes of resumes to identify potential candiates. By searching for specific keywords, the tracker mines data from your resume and adds your information to a database for recruiters to review.
    </p>
    <p>
        Every company is unique and your resume should reflect that. Fine tuning your resume for every application is a must. Use our tool to identify keywords in a job description and tailor your resume to stand out in the crowd as the perfect candidate.
    </p>
    </div>

    <div class="container">
    <h2>The Developers</h2>
        <div class="row">
            <div class="col-md-6">
            <h2>Boet Waldbjorn</h2>
            <p>
                I am a front-leaning, full-stack developer with a strong interest in code as design and IoT. A strong background in printmaking and theater design has given me an eye for how things work together and a mind for how they should work together.
            </p>
            <a href="https://www.linkedin.com/in/boetw"><i class="fa fa-adjust fa-linkedin-square" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-adjust fa-github" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-6">
            <h2>Kendra Waldbjorn</h2>
            <p>
                I am a front-leaning, full-stack developer with a strong interest in code as design and IoT. A strong background in printmaking and theater design has given me an eye for how things work together and a mind for how they should work together.
            </p>
            <a href="https://www.linkedin.com/in/boetw"><i class="fa fa-adjust fa-linkedin-square" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-adjust fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>