<form ng-submit="createJob()">
  <legend>Enter Your Job</legend>

  <div class="form-group">
    <label for="jobName">Job Title</label>
    <input type="text" class="form-control" id="jobTitle" placeholder="Job Title" ng-model="job.title">
  </div>
  <div class="form-group">
    <label for="jobDescription">Job Description</label>
    <input type="text" class="form-control" id="jobDescription" placeholder="Post Full Job Description Here" ng-model="job.description">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>