<form ng-submit="userSignup()">
  <div class="legend text-center"><legend>Signup</legend></div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" placeholder="Your Name" ng-model="user.name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="test@test.com" ng-model="user.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="********" ng-model="user.password">
  </div>
<div class="form-group text-center">
    <button type="submit" class="btn btn-primary">Signup</button>
</div>

</form>