<div class="jumbotron">
    <h1 class="text-left">Resume Level-up</h1>
    <p>
        How do you make your job application stand out in a pool of dozens in an increasingly automated application process? Use our tool to identify keywords in a job description and tailor your resume to stand out in the crowd as the perfect candidate.
    </p>

    <form ng-submit="showWordCloud()" ng-controller="JobCtrl">
        <div class="form-group job-input">
            <label for="jobDescription">Paste your job description here:</label>
            <textarea class="form-control text-area" rows="20" id="jobDescription" name="description" ng-model="job.description"></textarea>
        </div>

        <p>
            <button class="btn btn-default btn-lg" role="button">Wordify</button>
        </p>
    </form>

</div>


