<div class="jumbotron">
    <h1 class="text-left">Resume Level-up</h1>
    <p>
        How do you make your job application stand out in a pool of dozens in an increasingly automated application process? Use our tool to identify keywords in a job description and tailor your resume to stand out in the crowd as the perfect candidate.
    </p>

  <div class="form-group job-input"  ng-controller="NewJobCtrl">

<!--       <h1 class="text-center form-header">Enter Your Job</h1> -->
    <form  ng-submit="createJob()">
      <div class="form-group">
        <label for="jobDescription">Paste your job decription here:</label>
        <textarea type="text" class="form-control text-area" rows="20" id="jobDescription" ng-model="job.description"></textarea>
      </div>

      <button type="submit" class="btn btn-default">Wordify</button>
    </form>
  </div>
</div>


