/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}*/

body {
    background-color: #318FF7;
    color: #fff;
}

.container-fluid {
    padding: 0px;
}

h1 {
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.jumbotron {
    background-color: transparent;
}

user-buttons button {
    margin-bottom: 20px;
}

.btn {
    border-radius: 0px;
    border: none;
    width: 200px;
}

.btn-primary {
    background-color: #1370E1;
}


/*
  ========================================
  Navigation
  ========================================
*/

.navbar-default {
    background-color: #318FF7;
    border-color: #318FF7;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: #fff;
}

.cta-button {
    background-color: #1370E1;
    /*border-radius: 20px;*/
}

.navbar-default .navbar-toggle {
  width: 45px;
}

.navbar-default .navbar-toggle .icon-bar {
  border-color: #fff;
  background-color: #fff;
}

/*
  ========================================
  Forms
  ========================================
*/

$color: #318FF7;

input::-webkit-input-placeholder,
button {
    font-family: 'roboto', sans-serif;
    transition: all 0.3s ease-in-out;
}

form {
    background-color: #fff;
    box-sizing: border-box;
    width: 400px;
    margin: 100px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 3px;
    h1 {
        box-sizing: border-box;
        padding: 20px;
    }
}

.form-control {
    width: 350px;
}

input {
    margin: 40px 25px;
    width: 350px;
    display: block;
    border: none;
    padding: 10px 0;
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $color 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: darken($color, 20%);
    &:focus,
    &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
            color: $color;
            font-size: 11px;
            transform: translateY(-20px);
            visibility: visible !important;
        }
    }
}

button {
    border: none;
    background: $color;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.form-group label {
    color: #318FF7;
    margin-left: 25px;
}

.form-group>.btn{
  margin-left: 0px;
}

.legend {
    background-color: #1370E1;
    height: 50px;
    margin-bottom: 25px;
    /*  margin: 10px 20px;*/
}

form legend {
    border: none;
    color: #fff;
    padding-top: 10px;
}

.error {
  font-size: 70px;
  margin-bottom: 30px;
}

.glyphicon-remove {
  font-size: 110px;
  margin-top: 30px;
}

.text-area {
  width: 90vw;
}

.job-input label {
  color: #fff;
  margin-left: 0px;
  font-size: 20px;
}